[Unit]
Description=Run pacwall periodically

# The timer elapses each hour within a 20 minutes long
# window. The actual invocation time is randomized and
# evenly distributed within the window. This technique
# avoids overloading of the mirrors.
#
# The timer is persistent, which means that if one or
# more timer invocations are skipped because the machine
# is powered off, the timer will be invoked some time
# after the next login to catch up.
[Timer]
Unit=pacwall@-.service
OnCalendar=*-*-* *:49:30
RandomizedDelaySec=20m
AccuracySec=1m
Persistent=true

[Install]
WantedBy=default.target
